


body{margin: 0%}

.jkvideo{
    position: relative;
    right:40%; 
    bottom:0%;
   z-index: auto;
   widows:50px;
   height: 338px;
   border: 11px solid rgb(255, 0, 242);
   left: 3%;
   margin-top: 70px;
    
}




header{
    background: rgb(241, 5, 202);
    color:rgb(215, 238, 13);
    padding: 8px 0px 6px 100px;
    height:35px;
    width: 137%;
}
header h1{ display: inline;
    font: outline;
    font-weight: 300;
    font: size 40px;
    float: left;
    margin-top: 10px;
    margin-right:50px;
}





header h5{ display: inline;
    font: outline;
    font-weight: 300;
    font: size 40px;
    float: left;
    margin-top: 10px;
    margin-right:50px;
}










nav ul{ 
    display: inline;
    padding: 0%;
    float: left;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    color: rgb(20, 139, 243);
    float: left;
    margin-right: 12px;
}

nav ul li a{
color: rgb(255, 217, 1);
    text-decoration: none;
    display: block;

}
#nav{
    font-style: tahoma;
}
.jred {
    background: rgb(231, 7, 252);
    padding: 2px 1px 1px;
    border: 1px solid rgb(255, 242, 60);
    width: 121px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.homegreen{
    background: rgb(205, 7, 245);
    padding: 2px 1px 1px;
    border: 1px solid rgb(252, 255, 67);
    width: 121px;
    height: 35px;
    line-height: 35px;
    text-align: center;



}
.homeblack{
    background: rgb(255, 0, 191);
    padding:2px 1px 1px;
    border: 1px solid rgb(255, 243, 81);
    width: 121px;
    height: 35px;
    line-height: 35px;
    text-align: center;


}
.homejk{
    background: rgb(227, 16, 255);
    padding:2px 1px 1px;
    border: 1px solid rgb(241, 241, 22);
    width: 121px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.divider{
    background: rgb(238, 0, 226);
    height: 6px;
    width: 1009px;
}
.homegreen:hover {background: rgb(163, 124, 163);
}
.jred:hover{
    background: rgb(245, 146, 245);
}
.homejk:hover{
    background: rgb(235, 158, 250);
   
}
.homeblack:hover{
    background: rgb(231, 132, 215);
}
.container{
    background: rgb(248, 47, 248);

    padding:1px 1px 1px;
    width: 1oopx;
}
.jkgj{
    width: 1009px;
    background: rgb(252, 102, 239);
    margin: auto;
}


body {
    color: #f70909;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
  }


  


  .container.fullwidth {
    width: 100%;
  }

  .container.no-padding {
    padding-left: 0;
    padding-right: 0;
  }


  .section-bg {
    background: #4c87ff;
  }

  .button-area {
    background: rgb(105, 233, 20);
  }


  .button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted rgb(252, 30, 30);
  }
  
  .button-group-area .genric-btn {
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .button-group-area .genric-btn:last-child {
    margin-right: 0;
  }
  
  .genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .genric-btn:focus {
    outline: none;
  }
  
  .genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px;
  }
  
  .genric-btn.large {
    line-height: 45px;
  }
  
  .genric-btn.medium {
    line-height: 30px;
  }
  
  .genric-btn.small {
    line-height: 25px;
  }
  
  .genric-btn.radius {
    border-radius: 3px;
  }
  
  .genric-btn.circle {
    border-radius: 20px;
  }
  
  .genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .genric-btn.arrow span {
    margin-left: 10px;
  }
  
  .genric-btn.default {
    color: #222222;
    background: #3d3dec;
    border: 1px solid transparent;
  }
  
  .genric-btn.default:hover {
    border: 1px solid #2222ee;
    background: #fff;
  }
  
  .genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: rgb(255, 230, 0);
  }
  
  .genric-btn.default-border:hover {
    color: #c6f300;
    background: #f9f9ff;
    border: 1px solid transparent;
  }


  @media (max-width: 992px) {
    .navbar-nav {
      height: auto;
      max-height: 400px;
      overflow-x: hidden;
    }
  }
  
  .default-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
  }
  
  .menu-bar {
    cursor: pointer;
  }



  .navbar-nav a {
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(203, 223, 23);
    padding: 20px;
  }
  
  @media (max-width: 992px) {
    .navbar-nav {
      margin-top: 10px;
    }
    .navbar-nav a {
      padding: 0;
    }
    .navbar-nav li {
      padding: 15px 0;
    }
  }
  
  .primary-btn:focus {
    outline: none;
  }
  
  .primary-btn span {
    color: rgb(240, 38, 38);
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .primary-btn:hover {
    color: rgb(183, 231, 8);
  }
  
  .primary-btn:hover span {
    color: #fff;
    right: 20px;
  }
  
  .primary-btn.white {
    border: 1px solid #fff;
    color: #fff;
  }
  
  .primary-btn.white span {
    color: #fff;
  }
  
  .primary-btn.white:hover {
    background: #fff;
    color: #b01afe;
  }
  
  .primary-btn.white:hover span {
    color: #b01afe;
  }
  
  .primary-btn2 {
    color: #222;
    font-weight: 600;
    border: 1px solid #f4f4f4;
    padding: 5px 30px;
    border-radius: 20px;
  }
  
  .primary-btn2:hover {
    color: #fff;
  }
  
  .pbtn-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .default-header {
    background-color: transparent;
    width: 100% !important;
  }
  
  @media (max-width: 992px) {
    .default-header {
      background-color: rgb(209, 59, 255);
    }
  }
  
  .sticky-wrapper {
    height: 48px !important;
  }
  
  .is-sticky .default-header {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgb(255, 221, 30);
  }

  .default-banner h1 {
    color: rgb(239, 255, 9);
    font-size: 72px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 10px;
  }



  .header-btn {
    background-color: rgb(201, 243, 51);
    padding: 8px 40px;
    font-weight: 600;
    color: #222;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    border-radius: 20px;
    margin-top: 30px;
    display: inline-block;
  }
  
  .header-btn:hover {
    border: 1px solid #fff;
    background: transparent;
    color: rgb(250, 8, 8);
  }
  



  .footer-area {
    padding-top: 100px;
    background-color: #222222;
  }
  
  h6 {
    color: rgb(252, 13, 13);
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .copy-right-text i, .copy-right-text a {
    color: #74e707;
  }
  
  .footer-social a {
    padding-right: 25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .footer-social i {
    color: #0ef334;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  @media (max-width: 991px) {
    .footer-social {
      text-align: left;
    }
  }
  
  .single-footer-widget input {
    border: none;
    width: 80%;
    font-weight: 300;
    background: #f78585;
    color: rgb(241, 159, 6);
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
  }
  
  .single-footer-widget input:focus {
    background-color: #f0ec11;
  }
  
  .single-footer-widget .bb-btn {
    color: rgb(106, 219, 40);
    font-weight: 300;
    border-radius: 0;
    z-index: 9999;
    cursor: pointer;
  }
  
  .single-footer-widget .info {
    position: absolute;
    margin-top: 20%;
    color: rgb(12, 211, 39);
    font-size: 12px;
  }
  
  .single-footer-widget .info.valid {
    color: green;
  }
  
  .single-footer-widget .info.error {
    color: rgb(34, 199, 228);
  }
  
  .single-footer-widget .click-btn {
    color: #fff;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 8px 12px;
    border: 0;
  }
  
  .single-footer-widget ::-moz-selection {
    /* Code for Firefox */
    background-color: #191919 !important;
    color: #bddd07;
  }
  
  .single-footer-widget ::selection {
    background-color: #b0e913 !important;
    color: #f10d0d;
  }
  
  .single-footer-widget ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #18ee2a;
    font-weight: 300;
  }
  
  .single-footer-widget :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #1599d6;
    opacity: 1;
    font-weight: 300;
  }
  
  .single-footer-widget ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #f53737;
    opacity: 1;
    font-weight: 300;
  }
  
  .single-footer-widget :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #777777;
    font-weight: 300;
  }
  
  .single-footer-widget ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #777777;
    font-weight: 300;
  }
  
  @media (max-width: 991px) {
    .single-footer-widget {
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 800px) {
    .social-widget {
      margin-top: 30px;
    }
  }
  
  .footer-text {
    padding-top: 20px;
  }
  
  .footer-text a, .footer-text i {
    color: #b01afe;
  }
  
  .whole-wrap {
    background-color: rgb(214, 218, 15);
  }
  
  .generic-banner {
    text-align: center;
  }
  
  .generic-banner .height {
    height: 600px;
  }
  
  @media (max-width: 767px) {
    .generic-banner .height {
      height: 400px;
    }
  }
  
  .generic-banner .generic-banner-content h2 {
    line-height: 1.2em;
    margin-bottom: 20px;
  }
  
  @media (max-width: 991px) {
    .generic-banner .generic-banner-content h2 br {
      display: none;
    }
  }
  
  .generic-banner .generic-banner-content p {
    text-align: center;
    font-size: 16px;
  }

  
  .about-generic-area {
    background: rgb(207, 18, 18);
  }
  
  .about-generic-area p {
    margin-bottom: 20px;
  }

  .section-top-border {
    padding: 70px 0;
    border-top: 1px dotted rgb(232, 235, 63);
  }
  
  .switch-wrap {
    margin-bottom: 10px;
  }
  














  h1, .h1 {
    font-size: 16px;
  }
  
  h2, .h2 {
    font-size: 30px;
  }
  
  h3, .h3 {
    font-size: 24px;
  }
  
  h4, .h4 {
    font-size: 18px;
  }
  
  h5, .h5 {
    font-size: 16px;
  }
  
  h6, .h6 {
    font-size: 14px;
    color: #099cfd;
  }

  .text-center {
    text-align: center;
  }



.love{
    margin: 18px;
    padding: 1px;
}
.lovej{
    margin: 1px;
    padding: 1px;
}

.lovejk{
    margin: 6px;
    padding: 1px;
}



#menu ul{
    list-style: none;
}
#menu ul li{
    background-color: rgb(247, 17, 28);
    width: 115px;
    border: 1px solid rgb(149, 224, 10);
    text-align: center;
    height: 35px;
    line-height: 35px;
    float: left;
    position: relative;


}
#menu ul li a{
    display: block;
    text-decoration: none;
    color: rgb(157, 243, 18);
   
}

#menu ul li a:hover{
    background-color: rgb(238, 255, 0);

}
.nony{
    background-color: rgb(0, 255, 34);
    width: 99%;
}
#menu ul ul {
    position: absolute;
    display: none;
}
#menu ul li:hover>ul{
    display: block;
} 
#menu ul ul ul{
    margin-left: 80px;
    top: 0px;
}
#nony1{
    height: 20px;
    line-height: 20px;
   border: 5px solid rgb(173, 255, 96);
   margin-top: 1px;

}
#textst{
    height: 20px;
    border-radius:20px;
}
#butto{
    background-color: rgb(245, 7, 7);
    color: rgb(226, 14, 14);
    padding: 1px;
    border-radius: 17px;
    border:2px solid rgb(223, 240, 69);
}
.love{
    background-color: rgb(253, 180, 71);
}
#jkimage img{
    width: 270px;
    border: 2px solid rgb(238, 0, 0);
    padding: 15px;
    background-color: rgb(221, 0, 250);
    box-shadow: 5px 5px 10px rgb(235, 8, 8);
    margin-top: 5px;
    margin-left: 2px;
    margin: 10px;
    float: left;
}

.style { background-color: rgb(218, 0, 247);

}

.lovej{
    background-color: rgb(76, 0, 255);
}

